<h1>Moments</h1>

<div class="homepage">

    <% results.each do |result| %>
        <% if result['content'] != nil || result['img_url'] != nil%>
            <div class="card-homepage">

                <div class="card-homepage-header">
                    <img src="<%=result['user_avatar_url']%>" alt="" class="profile-image">

                    <% if result['user_name'] != nil && result['user_name'] != ""%>
                    <span> <a href="/users/<%= result['user_id']%>/posts"> <%= result['user_name']%> </a>said: </span>
                    <%else%>
                    <span> <a href="/users/<%= result['user_id']%>/posts"> <%= result['email']%> </a>said:</span>
                    <%end%>
                </div>
                    <div class="card-homepage-content">
                        <p class="user-text"><%= result["content"]%></p>
                    </div>
                    <div class="card-homepage-image">
                        <img src="<%= result["image_url"]%>" alt="" class="home-momentimg">
                    </div>
                    <div class="card-homepage-footer">
                        <a href="/users/posts/<%= result['id']%>">comment</a>
                    </div>
            </div>
        <% end %>
    <%end%>
</div>