<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Moments on Ruby</title>
  <link rel='stylesheet' href='/stylesheets/main.css'>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@400;500&family=Roboto+Serif:wght@100;500&family=Rubik:wght@300&display=swap" rel="stylesheet">
</head>
<body>
<div class="nav">
<p><a href="/">Home</a></p>
  <% if logged_in? %>
    <% if loggedin_user()["user_name"]!= nil %>
      <h3>Welcome back,</h3>
       <a href="/users/<%=user['id']%>/edit"><%= loggedin_user()["user_name"]%></a>
       <div class="title-flex"></div>
    <%else%>
      <h3>Welcome back, </h3>
      <a href="/users/<%=user['id']%>/edit"><%= loggedin_user()["email"]%></a>
             <div class="title-flex"></div>

    <%end%>
<% if logged_in? %>
  <p><a href="/posts/new">Post</a></p>
  <p><a href="/myposts">My Moments</a></p>
  <% end %>


    <form action="/login" method="post">
        <input type="hidden" name="_method" value="delete">
        <p><button class="btn-logout">Log out</button></p>
      </form>

  <% else %>
    <p><a href="/login">Log In</a></p>
    <p><a href="/signup">Sign Up</a></p>
  <% end %>  
</div>
<section>
<div class="content">
  <%= yield %>
</div>
</section>
</body>
</html>
