
<H2><%= results[0]['email']%> said: </H2>

<img src="<%=results[0]['image_url']%>" alt="">
<p><%= results[0]['user_text']%></p>

<p><b>comments:</b></p>
<% comments.each do |comment|%>
<% if comment['user_name'] != nil %>
    <p><%= comment['user_name']%> said: <%= comment['content']%></p>

    <% else %>
    <p><%= comment['email']%> said: <%= comment['content']%></p>
    <% end %>
<% end %>

<form action="/comments/moments/<%=results[0]['id']%>" method="post">

    <label for="">You say </label>
    <input type="text" name="content" id="" placeholder="comments">

    <button>comment</button>

</form>